<ul>
  <li>
    <%- include('./link.ejs', {href: "/catalog", text: 'Home'}) %>
  </li>
  <li>
    <%- include('./link.ejs', {href: "/catalog/books", text: "All books"}) %>
  </li>
  <li>
    <%- include('./link.ejs', {href: "/catalog/authors", text: "All authors"}) %>
  </li>
  <li>
    <%- include('./link.ejs', {href: "/catalog/genres", text: "All genres"}) %>
  </li>
  <li>
    <%- include('./link.ejs', {href: "/catalog/book-instances", text: "All book copies"}) %>
  </li>
  <li><hr class="my-6" /></li>
  <li>
    <%- include('./link.ejs', {href: "/catalog/author/create", text: "Create new author"}) %>
  </li>
  <li>
    <%- include('./link.ejs', {href: "/catalog/genre/create", text: "Create new genre"}) %>
  </li>
  <li>
    <%- include('./link.ejs', {href: "/catalog/book/create", text: "Create new book"}) %>
  </li>
  <li>
    <%- include('./link.ejs', {href: "/catalog/book-instance/create", text: "Create new book copy"}) %>
  </li>
</ul>
