<!doctype html>
<html lang="en">
  <head>
    <%- include('../components/head.ejs') -%>

    <title><%= name -%> | Local Library</title>
  </head>
  <body class="grid md:grid-cols-[1fr_4fr] gap-6 p-6">
    <aside><%- include('../components/nav-links.ejs') -%></aside>

    <main class="grid auto-rows-min gap-6">
      <header class="flex justify-between gap-12">
        <div class="grid gap-3">
          <h1 class="text-5xl"><%= name -%></h1>
          <p><%= lifespan -%></p>
        </div>
        <nav class="flex gap-3">
          <% if (!showDeleteButton) { -%>
          <%- include('../components/link.ejs', {href: `./${id}/update`, text: 'Update'}) -%>
          <%- include('../components/link.ejs', {href: `./${id}/delete`, text: 'Delete'}) -%>
          <% } -%>
        </nav>
      </header>

      <%- include('../components/errors.ejs', {errors}) -%>

      <% if (books.length > 0) { -%>
      <section class="grid gap-3">
        <h2 class="text-4xl">Books</h2>
        <dl class="grid gap-2">
          <% books.forEach(({url, title, summary}) => { -%>
          <div>
            <dt>
              <strong>
                <%- include('../components/link.ejs', {href: url, text: title}) -%>
              </strong>
            </dt>
            <dd><%= summary -%></dd>
          </div>
          <% }) -%>
        </dl>
      </section>
      <% } -%>

      <% if (books.length === 0 && !showDeleteButton) { -%>
      <section class="grid gap-3">
        <h2 class="text-4xl">Books</h2>
        <p>This author has no books.</p>
      </section>
      <% } -%>

      <% if (books.length === 0 && showDeleteButton) { -%>
      <form method="post" class="grid justify-items-start gap-3">
        Are you sure you want to delete this author?

        <button type="submit" class="rounded bg-red-600 text-white px-5 py-2">
          Yes, delete this author.
        </button>
      </form>
      <% } -%>
    </main>
  </body>
</html>
