<!doctype html>
<html lang="en">
  <head>
    <%- include('../components/head.ejs') -%>

    <title><%= title -%> (Copy) | Local Library</title>
  </head>
  <body class="grid md:grid-cols-[1fr_4fr] gap-6 p-6">
    <aside><%- include('../components/nav-links.ejs') -%></aside>

    <main class="grid auto-rows-min gap-6">
      <header class="flex justify-between gap-12">
        <h1 class="text-5xl">
          <%= title -%>
          <span class="italic">(Copy)</span>
        </h1>
        <nav class="flex gap-3">
          <% if (!showDeleteButton) { -%>
          <%- include('../components/link.ejs', {href: `./${id}/update`, text: 'Update'}) -%>
          <%- include('../components/link.ejs', {href: `./${id}/delete`, text: 'Delete'}) -%>
          <% } -%>
        </nav>
      </header>

      <ul>
        <li>
          <strong>Imprint:</strong>
          <%= imprint -%>
        </li>
        <li>
          <strong>Status:</strong>
          <%- include('../components/availability-label.ejs', {status}) -%>
        </li>
        <% if (status !== 'Available') { -%>
        <li>
          <strong>Due back:</strong>
          <%= due_back_formatted -%>
        </li>
        <% } -%>
      </ul>

      <% if (showDeleteButton) { -%>
      <form method="post" class="grid justify-items-start gap-3">
        Are you sure you want to delete this book copy?

        <button type="submit" class="rounded bg-red-600 text-white px-5 py-2">
          Yes, delete this book copy.
        </button>
      </form>
      <% } -%>
    </main>
  </body>
</html>
