<!doctype html>
<html lang="en">
  <head>
    <%- include('./components/head.ejs') %>

    <title><%= title %> | Local Library</title>
  </head>
  <body class="grid md:grid-cols-[1fr_4fr] gap-6 p-6">
    <aside><%- include('./components/nav-links.ejs') %></aside>

    <main class="grid auto-rows-min gap-6">
      <h1 class="text-5xl"><%= title %></h1>

      <ul class="grid gap-1">
        <li>
          <strong>Author:</strong>
          <%- include('./components/link.ejs', {href: author.url, text: author.name}) %>
        </li>
        <li>
          <strong>Summary:</strong>
          <%= summary %>
        </li>
        <li>
          <strong>ISBN:</strong>
          <%= isbn %>
        </li>
        <% if (genre?.length > 0) { %>
        <li>
          <% if (genre.length === 1) { %>
          <strong>Genre:</strong>
          <% } else if (genre.length > 1) { %>
          <strong>Genres:</strong>
          <% } %>

          <ul class="inline-flex">
            <% genre.forEach(({url, name}) => { %>
            <li
              class="flex [&:not(:last-child)]:after:content-[',_'] after:whitespace-pre"
            >
              <%- include('./components/link.ejs', {href: url, text: name}) %>
            </li>
            <% }) %>
          </ul>
        </li>
        <% } %>
      </ul>

      <section class="grid gap-3">
        <h2 class="text-4xl">Copies</h2>

        <% if (copies?.length > 0) { %>

        <ul class="grid gap-3">
          <%# prettier-ignore %>
          <% copies.forEach(({status, imprint, url, due_back_formatted}, idx) => { %>
          <% const ct = idx + 1 %>

          <li>
            <a href="<%= url %>">
              <ul class="border-2 hover:bg-gray-100 transition px-3 py-2">
                <li>
                  #<%= ct %>:
                  <%- include('./components/availability-label.ejs', {status}) %>
                </li>
                <li>
                  <strong>Imprint:</strong>
                  <%= imprint %>
                </li>
                <% if (status !== 'Available') { %>
                <li>
                  <strong>Due back:</strong>
                  <%= due_back_formatted %>
                </li>
                <% } %>
              </ul>
            </a>
          </li>
          <% }) %>
        </ul>

        <% } else { %>

        <p>There are no copies of this book in the library.</p>

        <% } %>
      </section>
    </main>
  </body>
</html>
